.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
 background-color: #fff;
}
.container{
  background-color: #0D3A5D;
  height: 100vh;
}

.formLabel {
  display: block;
  margin: 5px 0;
  font-weight: bold;
  width: 50px;
}

.formInput {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #292929;
  border-radius: 3px;
  
}

.formCheckbox {
  margin-right: 5px;
  border: 1px solid #292929;
}

.formButton {
  background-color: #81BA27;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.formButton:hover {
  background-color: #0056b3;
}
.formContainer input{
border: 1px solid #292929;
}
.link{
  color: #0056b3;
  text-decoration: none;
}