.modalContent {
  background: #0D3A5D;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  max-width: 600px;
  margin: 0 auto;
  min-height: 20%;
  position: fixed; /* Posiciona el elemento en relación con la ventana del navegador */
  top: 50%; /* Centra el elemento verticalmente */
  left: 50%; /* Centra el elemento horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición del elemento para que esté perfectamente centrado */
}

.modalbutton {
  position: absolute;
  top: 10px; /* Ajusta este valor para mover el botón hacia abajo */
  right: 10px; /* Ajusta este valor para mover el botón hacia la izquierda */
  background-color: #ccc;
  border: none;
  border-radius: 10%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  color: #000;
}

.modalbutton:hover {
  background-color: #b30000;
}