.selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .select {
  }
  
  .priceFilter {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  