.navbar {
  display: flex;
  align-items: center; 
    background-color: #0D3A5D;
    color: #fff;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
.logo a{
  color: rgb(255, 254, 254);
  text-decoration:none
}
.logo{
  margin-left:80px;
}
.logo img{
  max-width: 260px;
}
  .btn {
    
    background-color: #81BA27;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 0; 
  margin-right: 300px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .nav{
    display: flex;
  align-items: center; 
  background-color: #0D3A5D;

  justify-content: center;
  }
  .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
  }
  
  input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
  }
  .texto{
    margin-left: 300px;
  }
  .text{
    background-color: #0D3A5D;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
  font-size: 12px;
  width: 800px;
  }
  .verde{
    color: #81BA27;
    margin-bottom: 0;
    
  }
  .blanco{
    color: #fff;
    margin:0;
  }
  input[type="text"]::placeholder {
    color: #777;
  }
  .btnContainer{
    margin-left: 10px; /* Establece el margen izquierdo a 0 */
  margin-right: 0; /* Añade un margen derecho */
  }
  .select{
    display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.986);
        margin: 20px 10px;
        padding: 20px 20px;
        border-radius: 7px;
        width: 200px;
        font-size: 1em;
        color: black;
  }
  .selects{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
  }
.filtros{
  margin: 0 auto;
  border: #0D3A5D;
  display: flex;
    align-items: center;
    margin-left: -620px;
}
