
  
  .select{
    display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.986);
        margin: 10px 10px;
        padding: 6px 8px;
        border-radius: 7px;
        width: 90px;
        font-size: 0.9em;
        color: #0D3A5D;
  }
  .selects{
    display: flex;
    gap: 10px;
    justify-content: center;
  align-items: center;
  background-color: #0D3A5D;
  margin: 0;
  }
  .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .search input {
    padding: 3px;
    
    
    font-size: 16px;
    width: 265px;
    max-width: 100%;
    
  }
  .leftBox {
    display: flex;        
    flex-direction: row;  
    justify-content: space-between; 
    align-items: center;  
   
  }
.button{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -55px;
  
}
.button button{
  margin-left: 220px; 
  margin-right: 220px;
  background-color: #0D3A5D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
}