.container {
    display: flex;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 250vh;
    background-position: center center;
    backdrop-filter: blur(5px);
    height: 110vh;
  }
  
  .leftContent {
    flex: 1;
    margin-top: 160px;
    margin-left: 350px;
    margin-right: -200px; 

  }
  
  .leftContent img {
    width: 100%; 
    max-width: 600px; 
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 10px; 
    height: 50vh;
  }
  
  .rightContent {
    flex: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 500px;
    margin-left: -300px;
    margin-top: 100px;
    height: 60vh;
    width: 100%; 
    max-width: 400px;
  }
  
  h1 {
    margin: 0; 
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: #81BA27;
    margin-bottom: 10px; 
  }
  
  h2 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #0D3A5D;
    border-radius: 5px;
  }
  
  .link {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #81BA27;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    line-height: 20px; 
    margin-top: 20px; 
  }
  
  .link:hover {
    transform: scale(1.05);
    color: #0D3A5D;
  }
  

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #11111160;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1000;
    
  }
  
  .modalcontent {
    margin: auto;
    width: 80%;
    max-width: 600px;
    padding: 3em 2.5em;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    transform: translateX(100%); /* Inicialmente desplazado hacia la derecha */
    transition: transform 0.5s; /* Agregar transición de 0.5 segundos */
  }
  
  .animated {
    transform: translateX(0); /* Cuando se abre, animar hacia la posición original */
  }