.container{
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 250vh;
    background-position: center center;
    border: 2px solid black;
    backdrop-filter: blur(5px);
    height: 100vh;
}


.container .contenido img{
    right: 25px;
    width: 700px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 10px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 50px;
}


.container .contenido h1{
    margin: 30px auto 40px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    color: #81BA27;
    margin-bottom: 20px;
}

.container .contenido h2{
    width: 99.5%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    color: #000000;
    border-radius: 5px;
    display: block; 
}


.container .contenido h3{
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #000000;
}
