
  .paginado {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
  }
  
.paginado li {
    margin: 0 4px;
  }
  
.paginado button {
  background-color: #0D3A5D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;

  }
  
.paginado button:focus {
    outline: none;
  }
  
  .inicioFin {
    background: grey; 
    color: rgb(255, 255, 255); 
    width: 55px;
  }
  
  .paginado .number.active button {
    background-color: #0D3A5D;
    color: white;
    border: 1px solid blue;
    }
.paginado .disabled button {
  background-color: #ccc;
  cursor: not-allowed;
  }
  
  